<h1>Goodbye!</h1>
<p>Iy was nice having you there</p>

<p>
	Say 
	<%= link_to "Hello", say_hello_path %>

	Addition: <%= 1+2 %>

	Concatenation: <%= "cow" + "boy" %>

	Time in one hour: <%= 1.hour.from_now.localtime %>

</p>
